@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.sidebar {
    height: 100vh;
    width: 40%;
    border: 2px solid red;
    background:#fff;
    font-family: Montserrat;
    font-weight: 420;
    padding: 80px 0 20px 10px;
}
.items li {
    margin-bottom: 25px;
    color: rgba(207, 204, 204, 0.925);
    font-size: 0.8rem;
}
.items li:hover {
    color: rgb(240, 104, 14);
    cursor: pointer;
    transition: all 0.4s;
}
.items button {
    border:none;
    background-color: transparent;
    color: rgba(207, 204, 204, 0.925);
}
.items button:hover {
    color:rgb(240, 104, 14);
    
}
.fas,.far {
    margin-right: 10px;
    
}
.fa-plus {
    margin-left: 20px;
    padding: 5px;
    font-size: 0.8rem;
}
.fa-plus:hover {
    background-color:rgba(207, 204, 204, 0.288)
}
/* project form */
 .project-form {
    margin: 20px;
    height: 400px;
    width: 350px;
    position: absolute;
    top: 250px;
    right: -8px;
    display:none;
 }
 /* project form display none to dispay flex */
 .show-form {
     display: block;
 }
 .form-header {
     background-color: #44e66c;
     border-radius: 10px 10px 0 0;
 }
 .form-header p {
    font-family: Montserrat;
    font-size: 1.3rem;
    padding: 10px;
 }
 /* form items */
 .main-form {
    background-color: rgb(226, 218, 218);
    height: 350px;
    width: 350px;
    padding: 20px 0 20px 15px;
 }
/* favorite btn */
.favorite {
    display: flex;
    margin-top: 10px;
}
.fav-btn{
    position: relative;

}
.main-clr {
    background-color: rgb(179, 178, 178);
    height: 22px;
    width: 40px;
    border-radius: 10px;
    transition: all 0.5s;
}
.circle {
    background-color: rgb(255, 255, 255);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: all 0.5s;
}
/* main color javascript */
.main-clr-animation {
    background-color: orange;
    transition: all 0.5s;
}
/* circle javascript */
.circle-animation {
    background-color: green;
    left: 20px;
    transition: all 0.5s;
}
.para {
    margin-left: 10px;
    font-family: Montserrat;
}
/* form footer */
.form-footer {
    background-color: #44e66c;
    padding: 14px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: row-reverse;
}
.form-footer button {
    padding: 8px 15px;
    border-radius: 5px;
    border:none;
    margin:0 10px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: capitalize;
}
/* project list styling */
.project-list {
    margin: 5px 0 0 2px;
}
.project-list ul li {
    margin:8px 0;
    font-size: 0.8rem;
    color:rgb(48, 48, 48);
    font-weight: 400;
    text-transform: capitalize;
}
.fa-circle {
    font-size: 0.5rem;
}
